{% extends "layout.html" %} {% block body %}
<div class="dvdr"></div>
<div class="container">
  <section id="main">
    <h1>Upcoming events</h1>
    <ul>
      {% for event in events %}

      <li class="event-description">
        <h2>
          <a href="#">{{event.title}}</a>
        </h2>
        <div class="metadata">
          <time datetime="{{event.datetime}}"
            >{{event.date}} <span>{{event.time}}</span></time
          >
          <span>{{event.place}}</span>
        </div>
        <p>{{event.about}}</p>
      </li>
      {% endfor %}
    </ul>
  </section>
  <aside id="sidebar">
    <div class="widget-calendar">
      <h3>Event calendar</h3>
      <div class="wrap-calendar">
        <table class="event-calendar">
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
          <thead>
            <tr>
              <th scope="col" class="controls">
                <span class="prev-mn"><a href="#">-</a></span>
              </th>
              <th scope="col" colspan="5" class="month">January 2021</th>
              <th scope="col" class="controls">
                <span class="next-mn"><a href="#">-</a></span>
              </th>
            </tr>
            <tr>
              <th scope="col" title="Monday">Mon</th>
              <th scope="col" title="Tuesday">Tue</th>
              <th scope="col" title="Wednesday">Wed</th>
              <th scope="col" title="Thursday">Thu</th>
              <th scope="col" title="Friday">Fri</th>
              <th scope="col" title="Saturday">Sat</th>
              <th scope="col" title="Sunday">Sun</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><div class="cell-wrap another-day">28</div></td>
              <td><div class="cell-wrap another-day">29</div></td>
              <td><div class="cell-wrap another-day">30</div></td>
              <td><div class="cell-wrap another-day">31</div></td>
              <td><div class="cell-wrap">1</div></td>
              <td><div class="cell-wrap">2</div></td>
              <td><div class="cell-wrap">3</div></td>
            </tr>
            <tr>
              <td><div class="cell-wrap">4</div></td>
              <td><div class="cell-wrap">5</div></td>
              <td><div class="cell-wrap">6</div></td>
              <td><div class="cell-wrap">7</div></td>
              <td><div class="cell-wrap">8</div></td>
              <td><div class="cell-wrap">9</div></td>
              <td><div class="cell-wrap">10</div></td>
            </tr>
            <tr>
              <td><div class="cell-wrap">11</div></td>
              <td><div class="cell-wrap">12</div></td>
              <td><div class="cell-wrap">13</div></td>
              <td><div class="cell-wrap">14</div></td>
              <td><div class="cell-wrap">15</div></td>
              <td><div class="cell-wrap">16</div></td>
              <td><div class="cell-wrap">17</div></td>
            </tr>
            <tr>
              <td><div class="cell-wrap">18</div></td>
              <td><div class="cell-wrap">19</div></td>
              <td><div class="cell-wrap">20</div></td>
              <td><div class="cell-wrap">21</div></td>
              <td><div class="cell-wrap">22</div></td>
              <td><div class="cell-wrap">23</div></td>
              <td><div class="cell-wrap">24</div></td>
            </tr>
            <tr>
              <td><div class="cell-wrap">25</div></td>
              <td><div class="cell-wrap">26</div></td>
              <td><div class="cell-wrap">27</div></td>
              <td><div class="cell-wrap">28</div></td>
              <td><div class="cell-wrap">29</div></td>
              <td><div class="cell-wrap">30</div></td>
              <td><div class="cell-wrap">31</div></td>
            </tr>
          </tbody>
        </table>
        <div class="legend">
          <span class="upcoming">Upcoming event</span
          ><span class="archival">Archival event</span>
        </div>
      </div>
    </div>
    <div class="widget-boxes news">
      <h3>Latest news</h3>
      <ul>
        <li class="box">
          <h4>
            <a
              href="https://economictimes.indiatimes.com/news/politics-and-nation/ranjitsinh-disale-won-global-teacher-prize-heres-an-exclusive-interview/videoshow/79576231.cms"
              >Ranjitsinh Disale, won Global Teacher Prize: Here's an exclusive
              interview.</a
            >
          </h4>
          <div class="metadata">
            <time datetime="2020-12-05">05 Dec, 2020</time>
            <span>Alan Smith</span>
          </div>
          <p>
            On Thursday, a 32-year-old teacher named Ranjitsinh Disale was
            awarded the much anticipated Global Teacher prize and prize money of
            $1 milli(...)
          </p>
        </li>
        <li class="box">
          <h4>
            <a
              href="https://economictimes.indiatimes.com/wealth/invest/investing-for-your-child-know-that-a-child-plan-is-actually-a-marketing-term-and-not-a-financial-one/articleshow/78966206.cms"
              >Investing for your child? Know that a ‘child plan’ is actually a
              marketing term, and not a financial one</a
            >
          </h4>
          <div class="metadata">
            <time datetime="2020-11-03">03 Nov, 2020</time>
            <span>Tom Jones</span>
          </div>
          <p>
            At Value Research, we get a lot of emails from parents who are
            looking for the best possible ‘child plan’ for their kids. (...)
          </p>
        </li>
        <li class="box">
          <h4>
            <a
              href="https://economictimes.indiatimes.com/wealth/plan/how-to-save-for-your-childs-higher-education/articleshow/77561281.cms"
              >How to save for your child's higher education</a
            >
          </h4>
          <div class="metadata">
            <time datetime="2020-08-17">17 Aug, 2020</time>
            <span>Sandeep Kumar</span>
          </div>
          <p>
            Udayan wants to create a fund for his daughter’s higher education.
            Although he has been saving some money in an ad-hoc manner for some
            time, he is not sure if the amount is enough to build a suitable
            corpus.(...)
          </p>
        </li>
      </ul>
    </div>
  </aside>
  <!-- / sidebar -->
</div>


{% endblock %}
